@import "./../../../../styles/themes/darkdev/variables.scss";

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;

  .resumeLink {
    @include btn-primary;
  }

  .portfolioLink {
    @include app-link;
  }
}
