@import '../../../../styles/themes/darkdev/variables.scss';

.skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 0.75rem;
  width: 100%;
  box-sizing: content-box;
  font-size: $app-xs;
  gap: 0.25rem;

  .skill {
    list-style-type: none;
    display: inline;
    margin: 0;
    padding: 2px 4px;
    color: $code-green;
    border: 1px solid $code-green;
    border-radius: calc(0.75em + 2px);
  }
}
