@import '../../../../../styles/themes/darkdev/variables.scss';

.Socials {
  position: absolute;
  display: inline-block;
  bottom: 0;

  @media (max-width: $tablet-breakpoint) {
    position: relative;
    margin-top: 2em;
  }

  .icons {
    &.horizontal {
      display: inline-flex;
      flex-direction: row;
      justify-content: space-evenly;
      gap: 30px;
    }

    &.vertical {
      display: inline-flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 30px;
    }
  }
}
