$background: #000;
$app-primary: #fff;
$app-secondary: #000;
$app-tertiary: #313131;
$app-gray: #919191;
$code-blue: #5379a8;
$code-green: #5b9a8b;
$code-yellow: #f7e987;

// text
$text-color: $app-primary;

// transitions
$fast-transition: 0.2s;
$medium-transition: 0.5s;

$fast-transition: all $fast-transition ease-in-out;
$fast-opacity-transition: opacity $fast-transition ease-in-out;

// sizes
$app-xxxs: 0.5em;
$app-xxs: 0.6em;
$app-xs: 0.7em;
$app-s: 0.8em;
$app-m: 0.9em;
$app-normal: 1em;
$app-xl: 1.2em;
$app-xxl: 1.5em;
$app-xxxl: 1.7em;
$app-xxxxl: 2em;
$app-super-xl: 3em;

// breakpoints
$tablet-breakpoint: 1100px;
$mobile-breakpoint: 600px;

// buttons
$button-border-color: $app-primary;
$button-text: $app-primary;
$button-border-width: 2px;

.button {
  color: $button-text;
  cursor: pointer;
}
.app-button {
  @extend .button;
  border-width: $button-border-width;
  border-color: $button-border-color;
  border-style: solid;
}
.app-button-hover {
  @extend .app-button;

  &:hover {
    color: $app-secondary;
    background-color: $app-primary;
  }
}

// links
.app-link {
  display: inline-block;
  width: 150px;
  color: $app-primary;
  text-decoration-style: dashed;
  text-decoration-line: underline;
  text-decoration-color: $app-primary;

  &:hover {
    color: $code-green;
    text-decoration-color: $code-green;
  }
}
