$bg-primary: #000; // background primary
$bg-secondary: #313131; // background secondary
$txt-primary: #cdcdcd;
$txt-secondary: #919191;
$app-primary: #fff;
$app-secondary: #000;
$app-tertiary: #313131;
$app-gray: #919191;
$app-blue: #5379a8;
$app-green: #5b9a8b;
$app-yellow: #f7e987;

// text
$text-color: $txt-primary;

// transitions
$fast-transition: 0.2s;
$medium-transition: 0.5s;

$fast-transition: all $fast-transition ease-in-out;
$fast-opacity-transition: opacity $fast-transition ease-in-out;

// sizes
$app-xxxs: 0.5rem;
$app-xxs: 0.6rem;
$app-xs: 0.7rem;
$app-s: 0.8rem;
$app-m: 0.9rem;
$app-normal: 1rem;
$app-l: 1.1rem;
$app-xl: 1.2rem;
$app-xxl: 1.5rem;
$app-xxxl: 1.7rem;
$app-xxxxl: 2rem;
$app-super-xl: 3rem;

// breakpoints
$tablet-breakpoint: 1100px;
$mobile-breakpoint: 600px;

$fixed-panel-width: 400px;

@mixin btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  outline: none;
  text-decoration: none;
  width: max-content;
}

@mixin btn-primary {
  @include btn;
  border: 0.0625rem solid $app-green;
  color: $app-green;
  background-color: $bg-primary;
  
  &:hover {
    color: $txt-primary;
    background-color: rgba($app-green, 0.8);
  }
}

// links
@mixin app-link {
  display: inline-block;
  width: 150px;
  color: $txt-primary;
  text-decoration-style: dashed;
  text-decoration-line: underline;
  text-decoration-color: $txt-primary;

  &:hover {
    color: $app-green;
    text-decoration-color: $app-green;
  }
}
