@import "./../../../styles/variables.scss";

$icon-dimension: 25px;

.SocialIcon {
    @extend .no-style-button;
    height: $icon-dimension;
    width: $icon-dimension;

    img {
        width: 100%;
    }
}
