@import "./../../../../styles/themes/darkdev/variables.scss";

$icon-dimension: $app-xxl;

.socialIcon {
    display: block;
    height: $icon-dimension;
    width: $icon-dimension;

    img {
        width: 100%;
    }
}
