@import "./../../../styles/variables.scss";

$timeline-offset: 15%;
$content-container-width: 45%;

.TimeLineContent {
  width: $content-container-width;
  padding: 0 20px;
  position: relative;
  box-sizing: border-box;

  &.right {
    left: 55%;

    &::after {
      content: "";
      position: absolute;
      right: 100%;
      top: 50%;
      display: block;
      height: 4px;
      width: 5%;
      background-color: $app-primary;
    }
  }

  &.left {
    &::after {
      content: "";
      position: absolute;
      left: 100%;
      top: 50%;
      display: block;
      height: 4px;
      width: 5%;
      background-color: $app-primary;
    }
  }

  @media (max-width: $mobile-breakpoint) {
    width: 100%;
    padding: 0;

    &.right,
    &.left {
      position: relative;
      left: 0;
      right: unset;
      bottom: unset;
      top: 0;
      text-align: left;

      &::after {
        display: none;
      }

      &::before {
        display: none;
      }
    }
  }

  .content {
    position: relative;

    .title {
      color: $code-yellow;
    }

    .description {
      opacity: 0.7;
      font-size: $app-normal;
      line-height: 1.7em;
    }

    .skills {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 0;
      margin: 0;
      margin-top: 10px;
      width: 100%;
      box-sizing: content-box;
      font-size: $app-xs;
      gap: 4px;
    }
  }

  .date {
    color: $app-primary;
    opacity: 0.7;
  }
}
