@import "./../../../../styles/themes/darkdev/variables.scss";

.TimeLine {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3.5rem;
  width: 100%;
  font-size: $app-normal;
  height: 100%;
  font-size: $app-m;
}
