@import "./../../../../styles/themes/darkdev/variables.scss";

$timeline-offset: 50%;

$middle-line-top: 10px;
$circle-top: $middle-line-top;
$circle-left: $timeline-offset;
$circle-dimensions: 20px;
$circle-half-width: calc($circle-dimensions / 2);

.TimeLine {
  width: 100%;
  font-size: $app-normal;
  height: 100%;
  font-size: $app-m;
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    bottom: 0;
    left: $timeline-offset;
    width: 6px;
    height: 95%;
    margin-left: -3px;
    background-color: $app-primary;
  }
  &::before {
    content: "";
    position: absolute;
    top: $circle-top;
    left: $circle-left;
    margin-left: -$circle-half-width;
    width: $circle-dimensions;
    height: $circle-dimensions;
    background-color: $app-primary;
    border-radius: 50%;
  }

  @media (max-width: $mobile-breakpoint) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2em;
    
    &::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }
}
