@import '../../styles/variables.scss';

.Intro {
  position: fixed;
  top: 100px;
  width: 425px;
  height: 100%;

  @media (max-width: $tablet-breakpoint) {
    position: relative;
    top: 0;
    width: 100%;
  }
}
