@import '../../../../styles/variables.scss';

.Socials {
  position: absolute;
  display: inline-block;
  bottom: 0;

  @media (max-width: $tablet-breakpoint) {
    position: relative;
    margin-top: 2em;
  }

  .icons {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 30px;
  }
}
