@import '../../../styles/variables.scss';

.skill {
  list-style-type: none;
  display: inline;
  margin: 0;
  padding: 2px 4px;
  color: $app-green;
  border: 1px solid $app-green;
  border-radius: calc(0.75em + 2px);
}
