@import "./styles/variables.scss";

* {
  padding: 0;
  margin: 0;
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Courier New', Courier, monospace;
  z-index: 1;
  box-sizing: border-box;
}

body {
  background-color: $app-secondary;
  background-image: url('./assets/images/code-editor-bg.jpeg');
  background-position: 0%;
  background-size:cover;
  color: $app-primary;
  overflow-x: clip;
  width: 100%;

  &::after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.9;
  }
}

.App {
  padding: 0;
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

.no-style-button {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}

.MainComponent {
  width: 80%;
  height: 100%;
  padding: 10%;
  transition: opacity 0.5s ease-in-out;
}
