* {
  padding: 0;
  margin: 0;
  user-select: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #0a1a44;
  overflow-x: clip;
}

.App {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

.no-style-button {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}

.MainComponent {
  width: 80%;
  height: 100%;
  padding: 10%;
  transition: opacity 0.5s ease-in-out;
}
