@import "./../../../../styles/variables.scss";

.DownloadCV {
  margin-top: 2em;
  a {
    color: $app-primary;
    text-decoration: dashed;
    text-decoration-line:underline;
    text-decoration-color: $app-primary;
    padding-bottom: 20px;
  }
}
