@import './../../../styles/variables.scss';

.Switcher {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  justify-content: flex-start;
  margin-top: $app-s;
  margin-left: $app-s;

  .Switches {
    @extend .app-button-hover;
    border-color: $app-tertiary;
    border-radius: 20px;
    background: none;
    color: $app-primary;
    padding: $app-xxxs;
    transition: $fast-transition;
    width: calc(100% / 4);
    font-size: $app-s;

    &.active {
      background-color: $app-primary;
      color: $app-secondary;
    }
  }
}
